body {
  margin: 0;
  background: #00a5be;
  font-family: system-ui;
}

.logo-img{
  margin: 0 auto 2em;
  display: block;
}

.navigation {
  transform: rotate(-90deg) translateY(100px);
  transform-origin: left top;
  position: absolute;
  left: 4em;
  width: 100vh;
  bottom: 0;
  text-align: center;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 2em;
}

.character {
  text-align: center;
}

.character-image {
  max-width: 100%;
  border-radius: 50%;
}

.character-name {
  font-size: 30px;
}

.character-label {
  background: #685128;
  padding: 1em;
  color: #ffffff;
  border-radius: 10px;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {

  .character-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
                        "name avatar" 
                        "labels avatar";
  }


  .character-name {
    text-align: left;
  }

  .character-name h2 {
    grid-area: name;
    position: relative;
    display: inline-flex;
  }

  .character-name h2::after{
    content: "";
    width: 87px;
    height: 6px;
    background-color: #F7391C;
    display: inline-flex;
    position: absolute;
    left: calc(100% + 5px);
    top: calc(50% + 3px);
  }

  .character-image {
    place-self: center;
    grid-area: avatar;
    max-width: 300px;
    border-radius: 50%;
  }

  .character-labels {
    grid-area: labels;
    max-width: 300px;
    text-align: left;
  }
  
}